@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

@import url("https://db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    font-family: "Consolas", "Roboto", "Lato", sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    box-sizing: border-box;
    color: #234047;
}

body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(0deg, #62b3c0 23.8%, #c4e0e5 92%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: overlay;
}

a {
    text-decoration: none;
}

.header {
    padding: 1em;
}

.container {
    width: 80%;
    height: fit-content;
}

.tab {
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
    margin: 2em;
    box-shadow: 0 4px 28px rgba(123, 151, 158, 0.25);
    border: 1px solid #d6dee1;
    cursor: pointer;
}

.fa:hover {
    color: #5c8e99;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #3a5a64;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5a7277;
}
